<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778533267781-81uhka6vc4v67vdh0cvd6l554uqnt0iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778533267781-81uhka6vc4v67vdh0cvd6l554uqnt0iu</string>
	<key>API_KEY</key>
	<string>AIzaSyBdvxjgyGbTyO3HyjFZsOojYqzRrBg6uGo</string>
	<key>GCM_SENDER_ID</key>
	<string>778533267781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoinsight</string>
	<key>PROJECT_ID</key>
	<string>autoinsight-2b981</string>
	<key>STORAGE_BUCKET</key>
	<string>autoinsight-2b981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778533267781:ios:b781e68ab6288760f9f62c</string>
</dict>
</plist>